# Citation Counts and impact factors

Dataset from [https://datadryad.org/stash/dataset/doi:10.5061/dryad.2h4j5](https://datadryad.org/stash/dataset/doi:10.5061/dryad.2h4j5) article is [https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001675](https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001675)


Not enough variability in the data to construct a less than perfect ML model!

## Step 1

- Download Text file from [https://datadryad.org/stash/downloads/file_stream/30779](https://datadryad.org/stash/downloads/file_stream/30779)

- Copy into working directory

## Step 2

- open with Pandas and Normalize

In [145]:
import pandas

In [146]:
#read in our text file, anything that is blank will be treated as a Null Value
citation_data = pandas.read_csv('F1000 data - Dryad.txt', sep="\t", skipinitialspace = True)
#no need to modify columns!
citation_data

,Journal,Score1,Score2,IF2,IF5,NoOfScores,Citations
0,Immunity,8,NaN,24.221,22.133,1,220
1,Journal of the American Chemical Society,6,6.0,9.023,8.981,2,40
2,Science (New York),8,10.0,31.377,31.777,2,1003
3,Gastroenterology,6,8.0,12.032,12.403,2,85
4,Nature Medicine,10,NaN,25.430,27.887,1,213
...,...,...,...,...,...,...,...
5806,Cerebral Cortex,6,NaN,6.844,7.200,1,12
5807,The Journal of Biological Chemistry,6,NaN,5.328,5.498,1,108
5808,Molecular Biology and Evolution,6,NaN,5.510,8.907,1,37
5809,The Journal of Biological Chemistry,8,NaN,5.328,5.498,1,10
5810,Photochemistry and Photobiology,6,NaN,2.679,2.552,1,11

In [147]:
#we drop rows with any missing values
#citation_data = citation_data.dropna(how='any')
#we can get rid of that NoOfScores column
#citation_data.pop("NoOfScores")
citation_data = citation_data.fillna(0)
citation_data

,Journal,Score1,Score2,IF2,IF5,NoOfScores,Citations
0,Immunity,8,0.0,24.221,22.133,1,220
1,Journal of the American Chemical Society,6,6.0,9.023,8.981,2,40
2,Science (New York),8,10.0,31.377,31.777,2,1003
3,Gastroenterology,6,8.0,12.032,12.403,2,85
4,Nature Medicine,10,0.0,25.430,27.887,1,213
...,...,...,...,...,...,...,...
5806,Cerebral Cortex,6,0.0,6.844,7.200,1,12
5807,The Journal of Biological Chemistry,6,0.0,5.328,5.498,1,108
5808,Molecular Biology and Evolution,6,0.0,5.510,8.907,1,37
5809,The Journal of Biological Chemistry,8,0.0,5.328,5.498,1,10
5810,Photochemistry and Photobiology,6,0.0,2.679,2.552,1,11

In [138]:
#Scale all features so that the values don't vary that widely

#from sklearn import preprocessing

#scaler = preprocessing.MinMaxScaler()

#citations
#x = citation_data[["Citations"]].values.astype(int)
#citation_data["Citations"] = scaler.fit_transform(x)

#sccore1

#score2

#IF2

#IF5




citation_data

,Journal,Score1,Score2,IF2,IF5,NoOfScores,Citations
0,Immunity,8,0.0,24.221,22.133,1,220
1,Journal of the American Chemical Society,6,6.0,9.023,8.981,2,40
2,Science (New York),8,10.0,31.377,31.777,2,1003
3,Gastroenterology,6,8.0,12.032,12.403,2,85
4,Nature Medicine,10,0.0,25.430,27.887,1,213
...,...,...,...,...,...,...,...
5806,Cerebral Cortex,6,0.0,6.844,7.200,1,12
5807,The Journal of Biological Chemistry,6,0.0,5.328,5.498,1,108
5808,Molecular Biology and Evolution,6,0.0,5.510,8.907,1,37
5809,The Journal of Biological Chemistry,8,0.0,5.328,5.498,1,10
5810,Photochemistry and Photobiology,6,0.0,2.679,2.552,1,11

In [148]:
# Let's shorted a couple of our labels
# Proceedings of the National Academy of Sciences of the United States of America to Proceedings
# Science (New York) to Science
citation_data["Journal"].mask(citation_data["Journal"]== "Proceedings of the National Academy of Sciences of the United States of America",'Proceedings',inplace=True)
citation_data["Journal"].mask(citation_data["Journal"]== "Science (New York)",'Science',inplace=True)

In [149]:
#It'll be a bit too much to create dummies for all of these journal!
citation_data['Journal'].nunique()

519

In [151]:
#How about just top n journals?
n=10
top = citation_data["Journal"].value_counts()[:n].index.tolist()
top

['Proceedings',
 'Nature',
 'Science',
 'The Journal of Biological Chemistry',
 'Cell',
 'The Journal of Neuroscience',
 'Journal of the American Chemical Society',
 'Molecular Cell',
 'Neuron',
 'Current Biology']

In [152]:
citation_data[citation_data["Journal"].isin(top)]

,Journal,Score1,Score2,IF2,IF5,NoOfScores,Citations
1,Journal of the American Chemical Society,6,6.0,9.023,8.981,2,40
2,Science,8,10.0,31.377,31.777,2,1003
5,Neuron,8,8.0,14.027,14.927,2,336
8,Science,10,8.0,31.377,31.777,2,471
13,Science,10,0.0,31.377,31.777,1,78
...,...,...,...,...,...,...,...
5797,The Journal of Biological Chemistry,6,0.0,5.328,5.498,1,41
5801,The Journal of Biological Chemistry,8,0.0,5.328,5.498,1,22
5802,The Journal of Biological Chemistry,6,0.0,5.328,5.498,1,47
5807,The Journal of Biological Chemistry,6,0.0,5.328,5.498,1,108
5809,The Journal of Biological Chemistry,8,0.0,5.328,5.498,1,10

In [153]:
# a ML model that will predict if you're in the top n journals?
# df['Discounted_Price'] = df.apply(lambda row: row.Cost - (row.Cost * 0.1), axis = 1) 

citation_data["inTop"] = citation_data.apply(lambda row: row.Journal in top, axis = 1)

citation_data["inTop"].replace({True:1,False:0},inplace=True)

citation_data

,Journal,Score1,Score2,IF2,IF5,NoOfScores,Citations,inTop
0,Immunity,8,0.0,24.221,22.133,1,220,0
1,Journal of the American Chemical Society,6,6.0,9.023,8.981,2,40,1
2,Science,8,10.0,31.377,31.777,2,1003,1
3,Gastroenterology,6,8.0,12.032,12.403,2,85,0
4,Nature Medicine,10,0.0,25.430,27.887,1,213,0
...,...,...,...,...,...,...,...,...
5806,Cerebral Cortex,6,0.0,6.844,7.200,1,12,0
5807,The Journal of Biological Chemistry,6,0.0,5.328,5.498,1,108,1
5808,Molecular Biology and Evolution,6,0.0,5.510,8.907,1,37,0
5809,The Journal of Biological Chemistry,8,0.0,5.328,5.498,1,10,1
5810,Photochemistry and Photobiology,6,0.0,2.679,2.552,1,11,0

In [154]:
citation_data.to_csv('week_4_citation_workalong.csv',index=False)