# Week 2

Topics we'll be exploring

- Functions
- Libraries
- The Pandas Library

- Here's a quick game that demonstrates this
- It will ask you to put a value in between 1 and 10
- If you don't, it will let you know

In [ ]:
#we can turn a variable into a integer with the int() function
number = int(input("Pick any number between 1 - 10: "))

if number > 10 or number < 1:
    print("Sorry you didn't pick a number between 1 - 10")
else:
    print("Your number is between 1 and 10!")

## Functions

- Functions are bits of code that do a certain task in a certain way
- We saw this earlier with the `print()` function
- We also just used the `int()` function in our game
- some functions need _arguments_ or _paramaters_. We pass those in the the round brackets. EG. we pass what string variable we want turned into an integer with the `int()` function.
- we can create our own functions too

The structure of a function looks like the following:


```
def name_of_function(arguments)
    #code
    #code
    return answer #not mandtory
    
```
When our function produces a value that we use later we make use of `return`. That will pass the variable back to the place that called it. 



We've already seen how we call a functon:

```
name_of_function(arguments)

```

If you would like to print out the results of your function you need to surround it with the `print` function

```
print(name_of_function(arguments))

```

In [ ]:
print("hello world")
print(int(number))

- A useful function is `len()` which tells you how long something is
- Let's print how long the string variable `sentence` is
- Often a function can be applied to different types of variables and the results are ares you expect

In [1]:
sentence = "Now is the time of our discontent."
print(len(sentence))

37

First let's reload our Toronto Weather Data from Week 1

In [2]:
toronto_weather = {
    "Monday": 10,
    "Tuesday" : 12,
    "Wednesday" : 15,
    "Thursday" : 10,
    "Friday" : 9,
    "Saturday" : 6,
    "Sunday" : 6
    }

- The cell below will create a function that uses a loop to find the average of temperture for the week and prints the results to the screen.
- You'll notice that we can pass in the values from the dictionary to the function when we called it with `toronto_weather.values()`
- By the way, if you can understand the following block of code you've accomplished the hardest part of this class

In [18]:
def average_temp(week):
    
    total_degrees = 0
    for day in week:
        total_degrees = total_degrees + int(day)
    return total_degrees / len(week)


print(average_temp(toronto_weather.values()))

9.714285714285714

## Questions about Functions

----

## Libraries

- It's not very useful to keep writing functions for common calculations, the point of programming is to built on what is already created
- To demonstrate this we are going to look at a importing libraries, we are going to start with the Python [statistics](https://docs.python.org/3/library/statistics.html) Library as in the following cell
- Calculating an average is a common task so we can just re-use code to do that

In [19]:
import statistics
print(statistics.mean(toronto_weather.values()))

9.714285714285714

So far so good?

----

## The Pandas Library

Now we are going to focus on a great library that will allow us to look at data from CSV files and spreadsheets. We are now finally getting into the data science portion of the class. The following cell imports pandas, creates a panadas dataframe variable, and loads up a csv file that represents a data file. (When we import libraries sometimes we rename it so that there is less to type when you use it, that's why line 1 has the final portion `as pd`

We are going to explore some [San Francisco Library Usage](https://www.kaggle.com/datasf/sf-library-usage-data) data. The dataset we are looking at is slightly truncated.

In [32]:
import pandas as pd

sfl_data = pd.read_csv("week_2_san_francisco_worksheet.csv")

#will show us the top 10 entries in our dataframe
sfl_data.head(10)

,Patron Type Definition,Total Checkouts,Total Renewals,Home Library Definition,Circulation Active Month,Circulation Active Year,Year Patron Registered
0,YOUNG ADULT,0,0,Marina,None,None,2015
1,ADULT,3,12,Richmond,April,2014,2013
2,JUVENILE,11,0,Bayview/Linda Brooks-Burton,June,2014,2010
3,JUVENILE,171,111,Merced,July,2016,2014
4,YOUNG ADULT,14,1,Richmond,October,2013,2011
5,ADULT,5,0,Main Library,May,2013,2013
6,YOUNG ADULT,194,178,North Beach,July,2016,2004
7,ADULT,26,9,Glen Park,July,2016,2003
8,ADULT,14,0,Ingleside,September,2013,2012
9,ADULT,0,0,Main Library,January,2014,2014

In [41]:
# How many home Libraries are there
sfl_data.groupby("Home Library Definition").count()

,Patron Type Definition,Total Checkouts,Total Renewals,Circulation Active Month,Circulation Active Year,Year Patron Registered
Home Library Definition,,,,,,
Anza,168,168,168,168,168,168
Bayview/Linda Brooks-Burton,193,193,193,193,193,193
Bernal Heights,236,236,236,236,236,236
Branch Bookmobile (West Portal),5,5,5,5,5,5
Children's Bookmobile,15,15,15,15,15,15
Chinatown,407,407,407,407,407,407
Eureka Valley/Harvey Milk Memorial,226,226,226,226,226,226
Excelsior,399,399,399,399,399,399
Glen Park,246,246,246,246,246,246
Golden Gate Valley,112,112,112,112,112,112
Ingleside,250,250,250,250,250,250
Library on Wheels,14,14,14,14,14,14
Main Library,2979,2979,2979,2979,2979,2979
Marina,246,246,246,246,246,246
Merced,243,243,243,243,243,243
Mission,594,594,594,594,594,594
Mission Bay,247,247,247,247,247,247
Noe Valley/Sally Brunn,222,222,222,222,222,222
North Beach,226,226,226,226,226,226
Ocean View,65,65,65,65,65,65
Ortega,331,331,331,331,331,331
Park,170,170,170,170,170,170
Parkside,223,223,223,223,223,223
Portola,226,226,226,226,226,226
Potrero,160,160,160,160,160,160
Presidio,194,194,194,194,194,194
Richmond,559,559,559,559,559,559
Sunset,348,348,348,348,348,348
Unknown,29,29,29,29,29,29
Visitacion Valley,140,140,140,140,140,140
West Portal,313,313,313,313,313,313
Western Addition,214,214,214,214,214,214

Let's look at how we can grab investigate different snapshots of the data.

In [34]:
#how many different patron types there are
sfl_data.groupby("Patron Type Definition").count()

,Total Checkouts,Total Renewals,Home Library Definition,Circulation Active Month,Circulation Active Year,Year Patron Registered
Patron Type Definition,,,,,,
ADULT,6454,6454,6454,6454,6454,6454
AT USER ADULT,3,3,3,3,3,3
AT USER SENIOR,1,1,1,1,1,1
AT USER WELCOME,1,1,1,1,1,1
DIGITAL ACCESS CARD,41,41,41,41,41,41
JUVENILE,1396,1396,1396,1396,1396,1396
RETIRED STAFF,7,7,7,7,7,7
SENIOR,981,981,981,981,981,981
SPECIAL,21,21,21,21,21,21
STAFF,31,31,31,31,31,31
TEACHER CARD,44,44,44,44,44,44
VISITOR,8,8,8,8,8,8
WELCOME,342,342,342,342,342,342
YOUNG ADULT,670,670,670,670,670,670

In [37]:
#What is the average number of Total Checkouts for all of these patrons?
sfl_data["Total Checkouts"].mean()

166.5478

In [38]:
#What is the Maximum number of Total Checkouts for all of these patrons?
sfl_data["Total Checkouts"].max()

7947